@import './base.css';

a,
.blue {
  text-decoration: none;
  color: #0a78ef;
  transition: 0.4s;
}

.centering {
  display: flex;
  justify-content: center;  
}


@media (hover: hover) {
  a:hover {
    background-color: white;
  }
}

